*{
    margin: 0;
    padding: 0;
}

/* Bio */
body{
    background: url(../image/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.body{
    padding: 3% 10%;
}
div .header{
    display: flex;
    padding: 10px 0;
    

}

.header a{
    margin: 10px 100px;
    font-size: 20px;
    text-decoration: none;

}
.container{
    display: flex;
    border: 3px solid #31bfc4;
    padding: 50px;

}
.bio{
    
}
.bio h1{
    font-size: 70px;
    margin-bottom: 5px;
}
.bio p{
    font-size: 30px;
    margin-right: 20px;
}
.sosial-media div{
    margin-top: 50px;
}
.image div{
    height: 400px;
    width: 400px;
    background: url(../image/foto.JPG) no-repeat;
    background-position: center;
    background-size: 200%;

}
